@model IEnumerable<razor.Dominios.RegistrosDefeitos>

@{
    ViewData["Title"] = "Index";
}

<h2>LISTA DE DEFEITOS</h2>

<p>
    <a asp-action="Create">Registrar novo defeito</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataDefeito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defeito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEquipamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataDefeito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defeito.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEquipamento.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
